# Ignore all data directories
/datasets/
/examples/

# Ignore data files
*.csv
*.xls
*.xlsx
*.json
*.db
*.h5
*.pickle
*.txt
*.html
*.xml

# Except for small sample data you create yourself
!sample_*.csv